@page
@model DigiMenu.Razor.Pages.Account.registerModel
@{
	ViewData["Title"] = "ثبت نام در سایت";
	Layout = "Layouts/_AuthenticationLayout";
}

<div class="container-login100">
	<div class="wrap-login100">
		<div class="login100-pic js-tilt" data-tilt>
			<img src="/images/logo.png" alt="IMG">
		</div>
		<form class="login100-form validate-form" method="post">
			<span class="login100-form-title">
				@ViewData["Title"]
			</span>
			<div class="wrap-input100">
				<input class="input100" type="text" asp-for="FirstName"  placeholder="@Html.DisplayNameFor(x => x.FirstName)">
				<span class="focus-input100"></span>
				<span asp-validation-for="FirstName" class="val-msg"></span>
			</div>
			<div class="wrap-input100">
				<input class="input100" type="text" asp-for="LastName" placeholder="@Html.DisplayNameFor(x => x.LastName)">
				<span class="focus-input100"></span>
				<span asp-validation-for="LastName" class="val-msg"></span>
			</div>
			<div class="wrap-input100">
				<input class="input100" type="text" asp-for="Username" placeholder="@Html.DisplayNameFor(x => x.Username)">
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<i class="fa fa-user" aria-hidden="true"></i>
				</span>
				<span asp-validation-for="Username" class="val-msg"></span>
			</div>
			<div class="wrap-input100">
				<input class="input100" type="password" asp-for="Password" placeholder="@Html.DisplayNameFor(x => x.Password)">
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</span>
				<span asp-validation-for="Password" class="val-msg"></span>
			</div>
			<div class="wrap-input100">
				<input class="input100" type="password" asp-for="ConfirmPassword" placeholder="@Html.DisplayNameFor(x => x.ConfirmPassword)">
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</span>
				<span asp-validation-for="ConfirmPassword" class="val-msg"></span>
			</div>
			<div class="container-login100-form-btn">
				<button class="login100-form-btn">
					ثبت نام
				</button>
			</div>
			<div class="text-center p-t-100 rtl">
				<a class="txt2" asp-page="login">
					ورود

				</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a class="txt2" asp-page="../Index">
					بازگشت به سایت
				</a>
				<i class="fa fa-long-arrow-left m-r-5" aria-hidden="true"></i>
			</div>
		</form>
	</div>
</div>
