@model DigiMenu.Razor.Models.SeoDataViewModel
<div class="col-md-6">
    @Html.EditorFor(f=>f.MetaTitle)
</div>
<div class="col-md-6">
    @Html.EditorFor(f=>f.MetaKeywords)
</div>
<div class="col-md-12">
    @Html.EditorFor(f=>f.MetaDescription)
</div>
<div class="col-md-6">
    @Html.EditorFor(f=>f.Canonicial)
</div>
<div class="col-md-6">
    @Html.EditorFor(f=>f.IsIndexed)
</div>
<div class="col-md-12">
    @Html.EditorFor(f=>f.Schema)
</div>